$main_colors: (
  primary: #162840,
  secondary: #2d333b,
  white_text: #d9d9d9,
  headers: #101c26,
  descriptions: #142742,
);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: map-get($main_colors, primary);
  color: map-get($main_colors, white_text);
  font-family: "Montserrat";
}

a {
  color: map-get($main_colors, white_text);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-wrapper {
  background: url(../images/HomepageTopBG.jpg);
  background-size: cover;
  background-position: 50% 45%;
}

.wrapper {
  padding: 1.5em;
  display: grid;
  max-width: 1366px;
  height: 65vh;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: right;
  max-height: 30%;

  ul {
    display: flex;

    li a {
      padding: 0 0.6em;
    }
  }
}

.hero-content {
  display: grid;
  max-height: 50%;
  max-width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  align-items: center;
  justify-content: center;
  margin: 2em 0 8em 4em;
}

.top-logo {
  margin: 1em 0 0 0;
}

.search-container {
  max-width: 80%;
  justify-content: center;
  text-align: center;
}

.search-icon {
  margin: 0.5rem;
  position: absolute;
  cursor: pointer;
  opacity: 40%;
}

.search-bar {
  font-family: "Montserrat";
  border: 0;
  border-radius: 30px;
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 80%;
  padding-left: 11%;
}

// .search-tip {
//   color: map-get($main_colors, white_text);
//   text-transform: uppercase;
//   font-size: 0.8em;
//   text-align: left;
//   margin-left: 50px;
//   visibility: hidden;
// }

.place-window-wrapper {
  align-items: center;
  justify-content: center;
  max-width: 1366px;
  margin: 4em 0 0 5em;
}

.place-list-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-around;

  li {
    margin-bottom: 2em;
  }
}
