$main_colors: (
  primary: #162840,
  secondary: #2d333b,
  white_accent: #f8f8f8,
  headers: #101c26,
  descriptions: #142742,
);

$main_fonts: (
  headers: "Montserrat",
  body: "Roboto",
);

$main_weights: (
  headers: bold,
  medium: 500,
  semibold: 600,
  body: normal,
);

$main_font-size: (
  body: 1em,
  secondary_header: 1.5em,
  header: 2em,
  big_header: 2.5em,
);

* {
  box-sizing: border-box;
}

p {
  font-family: map-get($main_fonts, body);
  font-weight: map-get($main_weights, headers);
  color: map-get($main_colors, headers);
  font-size: 1em;
}

blockquote {
  font-family: map-get($main_fonts, body);
  font-weight: map-get($main_weights, body);
  color: map-get($main_colors, descriptions);
  font-size: 1em;
}

.submit,
button {
  font-family: map-get($main_fonts, body);
  font-weight: map-get($main_weights, medium);
  border-radius: 30px;
  padding: 3px 10px 3px 10px;
  background-color: map-get($main_colors, white_accent);
  color: map-get($main_colors, headers);
  border-color: map-get($main_colors, primary);
  border-width: 1px;
}

h2 {
  font-family: map-get($main_fonts, headers);
  font-weight: map-get($main_weights, headers);
  font-size: map-get($main_font-size, secondary_header);
  color: map-get($main_colors, headers);
}

body {
  margin: 0;
  color: map-get($main_colors, white_accent);
  font-family: "Montserrat", "Roboto";
  background-color: map-get($main_colors, primary);
}

a {
  color: map-get($main_colors, white_accent);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-wrapper {
  background: url(../images/HomepageTopBG.jpg);
  background-size: cover;
  background-position: 50% 45%;
  border-radius: 10px;
  opacity: 85%;

}

.wrapper {
  padding: 1.5em;
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: right;
  max-height: 30%;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      font-family: map-get($main_fonts, primary);
      font-weight: map-get($main_weights, semibold);
      font-size: map-get($main_font-size, headers);
      color: map-get($main_colors, white_accent);
    }

    li a {
      padding: 0 0.6em;
    }
  }
}

.hero-content {
  align-items: left;
  margin: 4em 0 4em 2em;

  .subtitle {
    font-family: map-get($main_fonts, primary);
    font-size: map-get($main_font-size, header);
    color: map-get($main_colors, white_accent);
    font-weight: 500;
    font-style: italic;
    margin: 0.5em 1em 0em 1em;
    border: solid 1px map-get($main_colors, white_accent);
    padding: 0.5em;
    max-width: 300px;
  }

  .top-logo {
    margin: 2em 1em 0.5em 2em;
  }
}

.search-container {
  text-align: center;
}

.search-icon {
  margin: 0.5rem;
  margin-left: 2.2rem;
  position: absolute;
  cursor: pointer;
  opacity: 50%;
}

.search-bar {
  font-family: "Montserrat";
  margin: 0 0 0 2em;
  border: 1px;
  border-style: solid;
  border-color: map-get($main_colors, secondary);
  border-radius: 30px;
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 80%;
  padding-left: 7%;
  max-width: 400px;
}

.place-window-wrapper {
  background-color: map-get($main_colors, white_accent);
}

.place-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  justify-content: space-around;
}

.place-wrapper {
  margin: 2em 0 4em 0;
}

.card {
  height: 600px;
  width: 310px;
  align-items: center;
  box-shadow: 2px 3px 10px map-get($main_colors, secondary);
  border-radius: 10px;
  transition-duration: 350ms;
  transition-property: width, height;

  img {
    box-shadow: 0 1px 2px map-get($main_colors, secondary);
    border-radius: 10px;

    object-fit: cover;
    width: 100%;
    height: 292px;
  }
}

.card:hover {
  width: 320px;
  height: 610px;
}

.place-text-wrapper {
  text-align: center;

  h2 {
    margin: 1em 2em 1em 2em;
  }

  .readmore-button {
    margin: 1em 0 1em 0;
  }
}

.footer-bg {
  background: url(../images/footerBG.jpg);
  background-size: cover;
  background-position: 35% 60%;
  // z-index: 99999;
  width: 100%;
  // position: absolute;
  opacity: 90%;
  clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
}

.footer-wrapper {
  display: grid;
  align-items: center;
  // margin: 0 auto;
  z-index: 2;
}

.footer-upper-wrapper {
  text-align: center;
}

.footer-headers {
  margin: 0 0 2em 0;
  text-align: center;
}

.footer-form-wrapper {
  margin: 2em 0 2em 0;

  label {
    font-family: map-get($main_fonts, body);
    font-weight: map-get($main_weights, headers);
    color: map-get($main_colors, headers);
    font-size: 1em;
  }

  input,
  textarea {
    border-radius: 10px;
    border-width: 1px;
    border-color: map-get($main_colors, secondary);
    margin: 0.5em 0 1em 0;
    padding: 0.5em;
    font-family: map-get($main_fonts, primary);
  }

  textarea {
    font-family: map-get($main_fonts, primary);
    resize: none;
  }

  .submit {
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
  }
}

.footer-lower-wrapper {
  margin-top: -4em;
  display: flex;
  justify-content: center;
}

.footer-list {
  margin-left: 2em;

  li {
    text-align: center;
    margin: 1em 1em 1em;
    font-weight: map-get($main_weights, semibold);
    font-size: map-get($main_font-size, body);
  }
}

/* Media Queries */

@media (min-width: 630px) {
  .footer-lower-wrapper {
    margin-top: 0;
  }

  .footer-logo {
    padding-right: 1%;
  }

  .footer-list {
    display: inline-flex;
    margin-left: 2.5em;
    margin-top: 1em;

    li {
      border-right: 1px solid map-get($main_colors, white_accent);
      margin: 0 0.4em 0 0.5em;
      padding-right: 3%;
      max-height: 25px;

      &:last-child {
        border: 0;
      }
    }
  }
}

@media (min-width: 880px) {
  .footer-upper-wrapper {
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
  }

  .footer-headers {
    margin-top: 1em;

    h2 {
      margin-top: 0;
      padding: 1em 0 0;
    }
  }

  .footer-form-wrapper {
    margin-top: 1.5em;
  }

  .footer-bg {
    clip-path: polygon(100% 0%, 100% 20%, 100% 90%, 83% 95%, 73% 88%, 57% 96%, 44% 90%, 40% 96%, 29% 93%, 26% 97%, 10% 93%, 6% 98%, 0 95%, 0 0);
  }

  .footer {
    .wrapper {
      padding-top: 0em;
    }
  }

  .footer-lower-wrapper {
    justify-content: left;
    padding-left: 10%;
  }

  .footer-logo {
    padding-right: 3%;
  }
}
