/* Maps */
/* Functions */
/* Globals */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-family: "Roboto";
  font-weight: normal;
  color: #101c26;
  font-size: 1em;
}

strong {
  font-family: "Montserrat";
  font-size: 1.5em;
  font-weight: 500;
  color: #162840;
}

blockquote {
  font-size: 1em;
  color: #2d333b;
  font-weight: 500;
  font-style: italic;
}

.submit,
button {
  font-family: "Roboto";
  font-weight: 500;
  border-radius: 30px;
  padding: 3px 10px 3px 10px;
  background-color: #f8f8f8;
  color: #101c26;
  border-color: #162840;
  border-width: 1px;
}

h1 {
  margin-top: 0;
  color: #162840;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.5em;
  color: #101c26;
}

body {
  margin: 0;
  color: #f8f8f8;
  font-family: "Montserrat", "Roboto";
  background-color: #162840;
}

a {
  color: #f8f8f8;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  height: 414px;
  width: 310px;
  text-align: center;
  -webkit-box-shadow: 2px 3px 10px #2d333b;
          box-shadow: 2px 3px 10px #2d333b;
  border-radius: 10px;
  padding-top: 0.1em;
  margin: 2em 0;
  background-color: #f8f8f8;
}

.form {
  margin: 2em 0 2em 0;
}

.form label {
  font-family: "Roboto";
  font-weight: bold;
  color: #101c26;
  font-size: 1em;
}

.form input {
  border-radius: 10px;
  border-width: 1px;
  border-color: #2d333b;
  margin: 0.5em 0 1em 0;
  padding: 0.5em;
}

.form .submit {
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
}

/* Nav */
.nav-header {
  background-color: #162840;
  max-height: 80px;
}

.nav-header .wrapper {
  padding: 1em;
}

.wrapper {
  padding: 1.5em;
  max-width: 1366px;
  margin: 0 auto;
}

.header-logo {
  width: 135px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.search-container {
  text-align: center;
  visibility: hidden;
}

.search-icon {
  margin: 1rem;
  margin-top: 0.9em;
  margin-left: 9em;
  padding-left: 1px;
  position: absolute;
  cursor: pointer;
  opacity: 50%;
  visibility: hidden;
}

.search-bar {
  font-family: "Montserrat";
  margin: 0 0 0 2em;
  border: 1px;
  border-style: solid;
  border-color: #2d333b;
  border-radius: 30px;
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 80%;
  padding-left: 8%;
  max-width: 400px;
  visibility: hidden;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-wrapper .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-wrapper nav {
  padding-top: 1em;
}

.nav-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-wrapper nav ul li {
  font-weight: 600;
  color: #f8f8f8;
  width: 90px;
}

.nav-wrapper nav ul li a {
  padding: 0 0.8em;
}

/* Header */
.hero-wrapper {
  background: url(../images/background_testit/jerry-zhang-Y8lCoTRgHPE-unsplash.jpg);
  background-size: cover;
  background-position: 50% 45%;
  border-radius: 0 0 10px 10px;
  opacity: 85%;
  height: 45vh;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
}

.hero-content img {
  -webkit-box-shadow: 0 1px 2px #2d333b;
          box-shadow: 0 1px 2px #2d333b;
  border-radius: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 150px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 1em 1em 1em 0;
}

.hero-content .user-text {
  max-width: 500px;
}

.hero-content .subtitle {
  font-size: 1em;
  color: #f8f8f8;
  font-weight: 500;
  font-style: italic;
  border: solid 1px #f8f8f8;
  padding: 0.8em;
}

/* Content */
.settings {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.user-settings {
  background-color: #f8f8f8;
  max-width: 350px;
  max-height: 300px;
  border-radius: 10px;
  text-align: center;
  color: #162840;
  margin: 2em 0;
}

.user-settings h2 {
  margin: 1em 0;
}

.user-settings ul li {
  margin: 0.5em;
}

.account-settings {
  background-color: #f8f8f8;
  text-align: center;
  max-width: 450px;
  border-radius: 10px;
  margin: 2em 0;
}

.account-settings .likes label {
  padding-top: 0.7em;
}

.account-settings .likes input {
  margin: 0.8em 0 0 0.5em;
  padding: 0 0 0.3em 0;
  max-width: 20px;
  height: 20px;
  border-radius: 60px;
  color: #f8f8f8;
  background-color: #162840;
}

.account-settings .like-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(90px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  margin-top: 1em;
  grid-column-gap: 15px;
}

.account-settings .form {
  max-width: 350px;
  margin: 0 auto;
  text-align: left;
  padding: 1em 1em 0;
}

.account-settings .form input {
  width: 250px;
}

.account-settings .form .submit {
  margin: 1.5em 0;
  width: 140px;
}

.account-settings li.tag-item {
  width: 100px;
  margin: 0.5em 0 0.5em 1em;
  border-radius: 10px;
  padding: 0.05em;
}

.account-settings li.tag-item p {
  color: #f8f8f8;
  width: 100%;
  height: 100%;
  padding: 0.1em;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
}

.likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first {
  background-color: #de325b;
}

.second {
  background-color: #326bde;
}

.third {
  background-color: #32de6b;
}

.fourth {
  background-color: #399c9f;
}

.change-password {
  background-color: #f8f8f8;
  border-radius: 10px;
  text-align: center;
  max-width: 350px;
  padding: 1em;
}

.change-password .form {
  max-width: 60%;
  margin: 0 auto;
  text-align: left;
  padding-top: 1em;
}

.change-password .form input {
  width: 250px;
}

.change-password .form .submit {
  margin: 1.5em 0;
  width: 140px;
}

/* Footer */
.footer-bg {
  background: url(../images/footerBG.jpg);
  background-size: cover;
  background-position: 35% 60%;
  width: 100%;
  opacity: 90%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
}

.footer-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.footer-upper-wrapper {
  text-align: center;
}

.footer-headers {
  margin: 0 0 2em 0;
  text-align: center;
}

.footer-form-wrapper {
  margin: 2em 0 2em 0;
}

.footer-form-wrapper label {
  font-family: "Roboto";
  font-weight: bold;
  color: #101c26;
  font-size: 1em;
}

.footer-form-wrapper input,
.footer-form-wrapper textarea {
  border-radius: 10px;
  border-width: 1px;
  border-color: #2d333b;
  margin: 0.5em 0 1em 0;
  padding: 0.5em;
}

.footer-form-wrapper textarea {
  resize: none;
}

.footer-form-wrapper .submit {
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
}

.footer-lower-wrapper {
  margin-top: -4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-list {
  margin-left: 2em;
}

.footer-list li {
  text-align: center;
  margin: 1em 1em 1em;
  font-weight: 600;
  font-size: 1em;
}

/* Media Queries */
@media (max-height: 550px) {
  .hero-wrapper {
    height: 65vh;
  }
  .hero-content {
    margin-top: 0em;
  }
}

@media (max-width: 490px) {
  .hero-content .subtitle {
    font-size: 0.8em;
  }
}

@media (max-width: 600px) {
  .change-password .form input {
    width: 150px;
  }
}

@media (max-width: 550px) {
  .hero-content img {
    width: 125px;
    height: 125px;
  }
}

@media (min-width: 630px) {
  .footer-lower-wrapper {
    margin-top: 0;
  }
  .footer-logo {
    padding-right: 1%;
  }
  .footer-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 2.5em;
    margin-top: 1em;
  }
  .footer-list li {
    border-right: 1px solid #f8f8f8;
    margin: 0 0.4em 0 0.5em;
    padding-right: 3%;
    max-height: 25px;
  }
  .footer-list li:last-child {
    border: 0;
  }
}

@media (min-width: 880px) {
  .footer-upper-wrapper {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 5%;
  }
  .footer-headers {
    margin-top: 1em;
  }
  .footer-headers h2 {
    margin-top: 0;
    padding: 1em 0 0;
  }
  .footer-form-wrapper {
    margin-top: 1.5em;
  }
  .footer-bg {
    -webkit-clip-path: polygon(100% 0%, 100% 20%, 100% 90%, 83% 95%, 73% 88%, 57% 96%, 44% 90%, 40% 96%, 29% 93%, 26% 97%, 10% 93%, 6% 98%, 0 95%, 0 0);
            clip-path: polygon(100% 0%, 100% 20%, 100% 90%, 83% 95%, 73% 88%, 57% 96%, 44% 90%, 40% 96%, 29% 93%, 26% 97%, 10% 93%, 6% 98%, 0 95%, 0 0);
  }
  .footer .wrapper {
    padding-top: 0em;
  }
  .footer-lower-wrapper {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    padding-left: 10%;
  }
  .footer-logo {
    padding-right: 3%;
  }
}
/*# sourceMappingURL=user-settings.css.map */