@import "./functions.scss";

.comments-wrapper {
  margin: auto;

  .wrapper {
    max-width: 1366px;
    text-align: center;
  }

  li {
    text-align: left;
    border-bottom: 2px solid color(secondary);
    border-radius: 5px;
    padding: 0 1em;
    max-width: 500px;
    margin: auto;
    box-shadow: none;

    img {
      box-shadow: 0 1px 2px map-get($main_colors, secondary);
      border-radius: 60px;
      object-fit: cover;
      width: 60px;
      height: 60px;

      // flex-shrink: 0;
      margin: 1em 0 1em;
    }
  }

  .comments-list-wrapper {
    padding: 1.5em;
    
    li{
      height:auto;
    }
  }

  .comment {
    text-align: left;
    display: grid;
    width: 100%;
    max-width: 500px;
    grid-template-columns: 60px auto;
    grid-template-rows: 60px auto;
    grid-template-areas:
      "avatar meta"
      "avatar body";

    .comment-meta {
      grid-area: avatar;
    }

    .comment-meta-meta {
      grid-area: meta;
      display: flex;
      margin: 1em 0 2em 1em;

      .timestamp {
        font-style: italic;
        margin: 0;
        position: relative;
        padding: 0.75em 0 0 1.8em;
      }

      .timestamp::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 60px;
        background-color: color(primary);
        left: 13px;
        top: 18px;
      }
    }
    .comment-body {
      grid-area: body;
      text-align: left;
      padding: 0.5em;
      blockquote {
        margin: 0;
      }
    }

    strong {
      padding-top: 0.2em;
    }
  }
}

.cmbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 150px;
  max-width: 50vw;
  margin: 0 auto;

  img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    flex-shrink: 0;
  }
}

.cmform {
  max-width: 50%;
  min-width: 250px;
  height: 50%;
  margin: 0;
  padding: 0;

  textarea {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 2px solid color(third);
    padding: 3px;
    resize: none;
    margin-bottom: 1em;
    overflow-y: scroll;
    transition: 1s ease-in-out;
  }

  button {
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    // font-size: size(body);
  }
}

textarea:focus {
  border-color: color(secondary);
}

@media (max-width: 410px) {

  .comment-body {
    margin-left: 1.5em;
  }

  .comment-meta-meta {
    .timestamp {
      margin-left: 1em;
      padding-left: 5em;
      margin-right: 0em;
    }

    strong {
      width: 70px;
      word-wrap: break-word;
    }
  }
}
