@import "./functions.scss";

.nav-icon {
  position: absolute;
  top: 18px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px map-get($main_colors, secondary);
  object-fit: cover;
  flex-shrink: 0;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  border: 1px solid color(white_accent);
  transition: filter 300ms;
}

.nav-icon:hover {
  filter: brightness(10);
}

.little-nav-icon {
  top: 18px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 2px map-get($main_colors, secondary);
  object-fit: cover;
  flex-shrink: 0;

  border: 1px solid color(white_accent);
}

.dropdown {
  position: absolute;
  top: 73px;
  width: 200px;
  transform: translateX(-45%);
  background-color: color(descriptions);
  padding: 1em;
  border-radius: 10px;
  border: 1px solid color(white_accent);
  box-shadow: 0 1px 2px map-get($main_colors, secondary);
  overflow: hidden;
  z-index: 99999;

  a {
    display: flex;
    height: 50px;
    align-items: center;
    border-radius: 10px;
    transition: background 300ms;
    padding: 0.5em;
    color: color(white_accent);

    cursor: pointer;

    img {
      margin-right: 1em;
    }
  }

  a:hover {
    opacity: 0.5;
  }

  // a:last-child {
  //   margin-left: auto;
  //   margin-right: 1em;
  // }
}
