/* Maps */

$main_colors: (
  primary: #162840,
  secondary: #2d333b,
  white_accent: #f8f8f8,
  headers: #101c26,
  descriptions: #142742,
);

$main_fonts: (
  headers: "Montserrat",
  body: "Roboto",
);

$main_weights: (
  headers: bold,
  medium: 500,
  semibold: 600,
  body: normal,
);

$main_font-size: (
  body: 1em,
  secondary_header: 1.5em,
  header: 2em,
  big_header: 2.5em,
);

$tag_colors: (
  first: #de325b,
  second: #326bde,
  third: #32de6b,
  fourth: #399c9f,
  fifth: #e9be11,
  sixth: #ca20d6,
  seventh: #d62020,
  eight: #6639d1,
  nineth: #e56e1f,
  tenth: #1fe5ca,
);

/* Functions */

@function color($color) {
  @return map-get($main_colors, $color);
}

@function font($font) {
  @return map-get($main_fonts, $font);
}

@function weight($weight) {
  @return map-get($main_weights, $weight);
}

@function size($size) {
  @return map-get($main_font-size, $size);
}

@function tag($tag) {
  @return map-get($tag_colors, $tag);
}

/* Globals */

* {
  box-sizing: border-box;
}

p {
  font-family: map-get($main_fonts, body);
  font-weight: map-get($main_weights, body);
  color: map-get($main_colors, headers);
  font-size: 1em;
}

strong {
  font-family: font(headers);
  font-size: size(secondary_header);
  font-weight: weight(medium);
  color: color(primary);
}

blockquote {
  font-family: map-get($main_fonts, secondary);
  font-size: map-get($main_font-size, body);
  color: map-get($main_colors, secondary);
  font-weight: 500;
  font-style: italic;
}

.submit,
button {
  font-family: map-get($main_fonts, body);
  font-weight: map-get($main_weights, medium);
  border-radius: 30px;
  padding: 3px 10px 3px 10px;
  background-color: map-get($main_colors, white_accent);
  color: map-get($main_colors, headers);
  border-color: map-get($main_colors, primary);
  border-width: 1px;
}

h1 {
  margin-top: 0;
  color: color(primary);
}

h2 {
  font-family: map-get($main_fonts, headers);
  font-weight: map-get($main_weights, headers);
  font-size: map-get($main_font-size, secondary_header);
  color: map-get($main_colors, headers);
}

body {
  margin: 0;
  color: map-get($main_colors, white_accent);
  font-family: "Montserrat", "Roboto";
  background-color: color(primary);
}

a {
  color: map-get($main_colors, white_accent);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  height: 414px;
  width: 310px;
  text-align: center;
  box-shadow: 2px 3px 10px map-get($main_colors, secondary);
  border-radius: 10px;
  padding-top: 0.1em;
  margin: 2em 0;
  background-color: color(white_accent);
}


/* Footer */

.footer-bg {
  background: url(../images/footerBG.jpg);
  background-size: cover;
  background-position: 35% 60%;
  // z-index: 99999;
  width: 100%;
  // position: absolute;
  opacity: 90%;
  clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
}

.footer-wrapper {
  display: grid;
  align-items: center;
  // margin: 0 auto;
  z-index: 2;
}

.footer-upper-wrapper {
  text-align: center;
}

.footer-headers {
  margin: 0 0 2em 0;
  text-align: center;
}

.footer-form-wrapper {
  margin: 2em 0 2em 0;

  label {
    font-family: map-get($main_fonts, body);
    font-weight: map-get($main_weights, headers);
    color: map-get($main_colors, headers);
    font-size: 1em;
  }

  input,
  textarea {
    border-radius: 10px;
    border-width: 1px;
    border-color: map-get($main_colors, secondary);
    margin: 0.5em 0 1em 0;
    padding: 0.5em;
    font-family: map-get($main_fonts, primary);
  }

  textarea {
    font-family: map-get($main_fonts, primary);
    resize: none;
  }

  .submit {
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
  }
}

.footer-lower-wrapper {
  margin-top: -4em;
  display: flex;
  justify-content: center;
}

.footer-list {
  margin-left: 2em;

  li {
    text-align: center;
    margin: 1em 1em 1em;
    font-weight: map-get($main_weights, semibold);
    font-size: map-get($main_font-size, body);
  }
}

/* Media Queries */



@media (min-width: 630px) {
  .footer-lower-wrapper {
    margin-top: 0;
  }

  .footer-logo {
    padding-right: 1%;
  }

  .footer-list {
    display: inline-flex;
    margin-left: 2.5em;
    margin-top: 1em;

    li {
      border-right: 1px solid map-get($main_colors, white_accent);
      margin: 0 0.4em 0 0.5em;
      padding-right: 3%;
      max-height: 25px;

      &:last-child {
        border: 0;
      }
    }
  }
}

@media (min-width: 880px) {
  .footer-upper-wrapper {
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
  }

  .footer-headers {
    margin-top: 1em;

    h2 {
      margin-top: 0;
      padding: 1em 0 0;
    }
  }

  .footer-form-wrapper {
    margin-top: 1.5em;
  }

  .footer-bg {
    clip-path: polygon(
      100% 0%,
      100% 20%,
      100% 90%,
      83% 95%,
      73% 88%,
      57% 96%,
      44% 90%,
      40% 96%,
      29% 93%,
      26% 97%,
      10% 93%,
      6% 98%,
      0 95%,
      0 0
    );
  }

  .footer {
    .wrapper {
      padding-top: 0em;
    }
  }

  .footer-lower-wrapper {
    justify-content: left;
    padding-left: 10%;
  }

  .footer-logo {
    padding-right: 3%;
  }
}
