@import "./functions.scss";

/* Globals */

/* Footer */

.footer {
  background-color: color(primary);
}

.footer-bg {
  background: url(../images/footerBG.jpg);
  background-size: cover;
  background-position: 35% 60%;
  // z-index: 99999;
  width: 100%;
  // position: absolute;
  opacity: 90%;
  clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
}

.footer-wrapper {
  display: grid;
  align-items: center;
  // margin: 0 auto;
  z-index: 2;
}

.footer-upper-wrapper {
  text-align: center;
}

.footer-headers {
  margin: 0 0 2em 0;
  text-align: center;
}

.footer-form-wrapper {
  margin: 2em 0 2em 0;

  label {
    font-family: map-get($main_fonts, body);
    font-weight: map-get($main_weights, headers);
    color: map-get($main_colors, headers);
    font-size: 1em;
  }

  input,
  textarea {
    border-radius: 10px;
    border-width: 1px;
    border-color: map-get($main_colors, secondary);
    margin: 0.5em 0 1em 0;
    padding: 0.5em;
    font-family: map-get($main_fonts, primary);
    width: 200px;
  }

  textarea {
    font-family: map-get($main_fonts, primary);
    resize: none;
  }

  .contact-submit {
    border-radius: 30px;
    border: 1.5px solid color(primary);
    padding: 0.3em;
    width: 80px;
    align-content: right;
    background-color: color(white_accent);
    color: color(headers);
    font-family: font(body);
    font-weight: weight(medium);
    box-shadow: 2px 3px 10px map-get($main_colors, secondary);
  }
}

.footer-lower-wrapper {
  margin-top: -4em;
  display: flex;
  justify-content: center;
}

.footer-list {
  margin-left: 2em;

  li {
    text-align: center;
    margin: 1em 1em 1em;
    font-weight: map-get($main_weights, semibold);
    font-size: map-get($main_font-size, body);
  }
}

/* Media Queries */

@media (min-width: 630px) {
  .footer-lower-wrapper {
    margin-top: 0;
  }

  .footer-logo {
    padding-right: 1%;
  }

  .footer-list {
    display: inline-flex;
    margin-left: 2.5em;
    margin-top: 1em;

    li {
      border-right: 1px solid map-get($main_colors, white_accent);
      margin: 0 0.4em 0 0.5em;
      padding-right: 3%;
      max-height: 25px;

      &:last-child {
        border: 0;
      }
    }
  }
}

@media (min-width: 880px) {
  .footer-upper-wrapper {
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
  }

  .footer-headers {
    margin-top: 1em;

    h2 {
      margin-top: 0;
      padding: 1em 0 0;
    }
  }

  .footer-form-wrapper {
    margin-top: 1.5em;
  }

  .footer-bg {
    clip-path: polygon(
      100% 0%,
      100% 20%,
      100% 90%,
      83% 95%,
      73% 88%,
      57% 96%,
      44% 90%,
      40% 96%,
      29% 93%,
      26% 97%,
      10% 93%,
      6% 98%,
      0 95%,
      0 0
    );
  }

  .footer {
    .wrapper {
      padding-top: 0em;
    }
  }

  .footer-lower-wrapper {
    justify-content: left;
    padding-left: 10%;
  }

  .footer-logo {
    padding-right: 3%;
  }
}
