@import "./functions.scss";

/* Header Nav */

.hero-home {
  background: url('../images/HomepageTopBG.jpg');
  background-position: 50% 45%;
  background-size: cover;
  border-radius: 0 0 10px 10px;
  // opacity: 85%;
}

.wrapper {
  padding: 1.5em;
  max-width: 1366px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: right;
  max-height: 45%;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      font-family: map-get($main_fonts, primary);
      font-weight: map-get($main_weights, semibold);
      font-size: map-get($main_font-size, headers);
      color: map-get($main_colors, white_accent);
    }

    li a {
      padding: 0 0.6em;
    }
  }
}

.hero-content-home {
  align-items: left;
  margin: 1em 0 1em 2em;

  .subtitle {
    font-family: map-get($main_fonts, primary);
    font-size: map-get($main_font-size, seconday_header);
    color: map-get($main_colors, white_accent);
    font-weight: 500;
    font-style: italic;
    margin: 1em 1em 0em 2em;
    border-bottom: solid 1px map-get($main_colors, white_accent);
    padding: 0.5em;
    max-width: 300px;
  }

  .top-logo {
    margin: 2em 1em 0.5em 2em;
  }
}

.search-container-main {
  text-align: center;
}

.search-icon-main {
  margin: 0.5rem;
  margin-left: 2.2rem;
  position: absolute;
  cursor: pointer;
  // opacity: 50%;
}

.search-bar-main {
  font-family: "Montserrat";
  margin: 0 0 0 2em;
  border: 1px;
  border-style: solid;
  border-color: map-get($main_colors, secondary);
  border-radius: 30px;
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 80%;
  padding-left: 4%;
  max-width: 400px;
}

.place-window-wrapper {
  background-color: map-get($main_colors, white_accent);
}

.place-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
  justify-content: space-around;
}

.place-wrapper {
  margin: 2em 0 4em 0;
}

.place-card {
  height: 650px;
  width: 350px;
  align-items: center;
  box-shadow: 2px 3px 10px map-get($main_colors, secondary);
  border-radius: 10px;
  transition-duration: 350ms;
  transition-property: width, height;

  img.place {
    box-shadow: 0 1px 2px map-get($main_colors, secondary);
    border-radius: 10px;

    object-fit: cover;
    width: 100%;
    height: 292px;
  }

  .place-description {
    margin: 1em 1em 0 1em;
  }
}

.place-card:hover {
  width: 355px;
  height: 660px;
}

.place-text-wrapper {
  text-align: center;
  height: 300px;
  position: relative;

  h2 {
    margin: 1em 1.5em 0.5em 1.5em;
  }

  .readmore-button {
    position: absolute;
    bottom: -2em;
    right: 130px;
    margin: 0.5em 0 0.5em 0;
  }
}

/* Media Queries */
