@import "./functions.scss";


 /* Nav */

.nav-header {
  background-color: color(primary);
  border-radius: 0 0 10px 10px;
  max-height: 80px;
  .wrapper {
    padding: 1em;
  }
}

.header-logo {
  width: 135px;
  flex-shrink: 0;
}

.search-container {
  text-align: center;
  visibility: hidden;
}

.search-icon {
  margin: 1rem;
  margin-top: 0.9em;
  margin-left: 9em;
  padding-left: 1px;
  position: absolute;
  cursor: pointer;
  opacity: 50%;
  visibility: hidden;
}

.search-bar {
  font-family: "Montserrat";
  margin: 0 0 0 2em;
  border: 1px;
  border-style: solid;
  border-color: map-get($main_colors, secondary);
  border-radius: 30px;
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 80%;
  padding-left: 8%;
  max-width: 400px;
  visibility: hidden;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;

  .search {
    display: flex;

    justify-content: space-between;
  }

  nav {
    padding-top: 1em;
    ul {
      display: flex;
      justify-content: space-between;

      li {
        font-family: map-get($main_fonts, primary);
        font-weight: map-get($main_weights, semibold);
        font-size: map-get($main_font-size, headers);
        color: map-get($main_colors, white_accent);
        width: 90px;
      }

      li a {
        padding: 0 0.8em;
      }
    }
  }
}
