@import "./functions.scss";

.notification-wrapper {
    position: fixed;
    top: 100px;
    right: 10px;
    width: 300px;
}

.notification {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: color(white_accent);
    border-radius: 10%;
    overflow: hidden;
    margin-bottom: 20px;
    animation: SlideLeft 0.4s;
    animation-fill-mode: forwards;
    width: 300px;
}

.notification p {
    margin: 0;
    padding: 10px;
}

.notification h3 {
    margin: 0;
    padding: 10px;
}

.notification .bar {
    height: 10px;
}


.notification.exit {
    animation: SlideRight 0.4s;
    animation-fill-mode: forwards;
}

.notification.success .bar {
    background-color: #65d266;
}

.notification.error .bar {
    background-color: red;
}

@keyframes SlideLeft {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes SlideRight {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 120%;
    }
}