$main_colors: (
  primary: #162840,
  secondary: #2d333b,
  white_accent: #f8f8f8,
  headers: #101c26,
  descriptions: #142742,
);

$main_fonts: (
  headers: "Montserrat",
  body: "Roboto",
);

$main_weights: (
  headers: bold,
  medium: 500,
  semibold: 600,
  body: normal,
);

$main_font-size: (
  body: 1em,
  secondary_header: 1.5em,
  header: 2em,
  big_header: 2.5em,
);

@function color($color) {
  @return map-get($main_colors, $color);
}

@function font($font) {
  @return map-get($main_fonts, $font);
}

@function weight($weight) {
  @return map-get($main_weights, $weight);
}

@function size($size) {
  @return map-get($main_font-size, $size);
}

p {
  font-family: map-get($main_fonts, body);
  font-weight: map-get($main_weights, body);
  color: map-get($main_colors, headers);
  font-size: 1em;
}

strong {
  font-family: font(headers);
  font-size: size(secondary_header);
  font-weight: weight(medium);
  color: color(primary);
}

blockquote {
  font-family: map-get($main_fonts, secondary);
  font-size: map-get($main_font-size, body);
  color: map-get($main_colors, secondary);
  font-weight: 500;
  font-style: italic;
}

.submit,
button {
  font-family: map-get($main_fonts, body);
  font-weight: map-get($main_weights, medium);
  border-radius: 30px;
  padding: 3px 10px 3px 10px;
  background-color: map-get($main_colors, white_accent);
  color: map-get($main_colors, headers);
  border-color: map-get($main_colors, primary);
  border-width: 1px;
}

h1 {
  margin-top: 0;
  color: color(primary);
}

h2 {
  font-family: map-get($main_fonts, headers);
  font-weight: map-get($main_weights, headers);
  font-size: map-get($main_font-size, secondary_header);
  color: map-get($main_colors, headers);
}

a {
  color: map-get($main_colors, white_accent);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-header {
  background-color: color(primary);
  max-height: 80px;
  .wrapper {
    padding: 1em;
  }
}

.wrapper {
  padding: 1.5em;
  max-width: 1366px;
  margin: 0 auto;
}

.header-logo {
  width: 135px;
  flex-shrink: 0;
}

.search-container {
  text-align: center;
  visibility: hidden;
}

.search-icon {
  margin: 1rem;
  margin-top: 0.9em;
  margin-left: 9em;
  padding-left: 1px;
  position: absolute;
  cursor: pointer;
  opacity: 50%;
  visibility: hidden;
}

.search-bar {
  font-family: "Montserrat";
  margin: 0 0 0 2em;
  border: 1px;
  border-style: solid;
  border-color: map-get($main_colors, secondary);
  border-radius: 30px;
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 80%;
  padding-left: 8%;
  max-width: 400px;
  visibility: hidden;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;

  .search {
    display: flex;

    justify-content: space-between;
  }

  nav {
    padding-top: 1em;
    ul {
      display: flex;
      justify-content: space-between;

      li {
        font-family: map-get($main_fonts, primary);
        font-weight: map-get($main_weights, semibold);
        font-size: map-get($main_font-size, headers);
        color: map-get($main_colors, white_accent);
        width: 90px;
        
      }

      li a {
        padding: 0 0.8em;
      }
    }
  }
}

.hero-wrapper {
  background: url(../images/layout_testit/pexels-pixabay-434400.jpg);
  background-size: cover;
  background-position: 50% 45%;
  border-radius: 0 0 10px 10px;
  opacity: 85%;
}

.hero-content {
  text-align: center;
  margin: 6em 0 4em 2em;

  h1 {
    font-size: size(big_header);
    color: color(headers);
  }

  .subtitle {
    font-family: map-get($main_fonts, primary);
    font-size: map-get($main_font-size, secondary_header);
    color: map-get($main_colors, white_accent);
    font-weight: 500;
    font-style: italic;
    margin: 1.5em 1em 0 1em;
    border: solid 1px map-get($main_colors, white_accent);
    padding: 0.5em;
  }
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  justify-content: space-around;
  max-width: 800px;
}

.card {
  height: 414px;
  width: 310px;
  text-align: center;
  box-shadow: 2px 3px 10px map-get($main_colors, secondary);
  border-radius: 10px;
  margin: 2em 0;
  background-color: color(white_accent);

  ul {
    text-align: center;
    display: block;
    .open {
      max-height: 30px;
      margin: 1em 4em;
      display: flex;
      justify-content: space-between;

      strong {
        margin-top: 0.4em;
      }
      p {
        padding: 0 0 1em;
      }
    }
  }
}


.info-list {
  text-align: left;

  li {
    margin: 1em 2em;
    display: flex;

    img {
      flex-shrink: 0;
      flex-grow: 0;
    }

    p {
      text-align: left;
      margin-left: 3em;
    }
  }
}

.prices {
  text-align: center;
  justify-content: center;

  .wrapper {
    max-width: 800px;
  }

  .wrapper {
    padding-bottom: 2em;
  }

  .price-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0 0 0 3.5em;

    li {
      width: 175px;

      .card {
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
    }

    h2 {
      margin-top: 0;
      padding: 0.3em;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.2);
      color: color(white_accent);
    }

    .text-wrapper {
      background-color: color(primary);
      height: 120px;
      width: 120px;
      border: solid 5px color(white_accent);
      border-radius: 60px;
      margin: 0 0 0 1.7em;
      .text {
        margin: 0 auto;
        padding-top: 1.3em;

        strong {
          color: color(white_accent);
        }
      }
    }

    .upper-category {
      background-color: color(descriptions);
      height: 150px;
      text-align: center;
      border-radius: 10px;
    }

    li {
      text-align: center;
      box-shadow: 2px 3px 10px map-get($main_colors, secondary);
      border-radius: 10px;
      margin: 2em 0.5em;
      background-color: color(white_accent);
      margin: 0.5em 0.5em;
    }
  }

  .lower-category {
    margin-top: 3em;
  }
}

.comments-wrapper {
  text-align: center;

  li {
    text-align: left;
    border: 1.5px solid color(primary);
    border-radius: 5px;
    margin: 1em 0;
    padding: 0 1em;

    img {
      box-shadow: 0 1px 2px map-get($main_colors, secondary);
      border-radius: 60px;
      object-fit: cover;
      width: 100px;
      height: 100px;

      // flex-shrink: 0;
      margin: 1em 0 1em;
    }
  }
  .card {
    width: 100%;
    height: 100%;
  }

  .comments-list-wrapper {
    padding: 1.5em;
  }

  .comment {
    text-align: left;
    display: grid;
    max-width: 100%;
    grid-template-columns: minmax(auto-fit, 150px) 65%;
    grid-template-rows: 60px auto;
    grid-template-areas:
      "avatar meta"
      "avatar body";

    .comment-meta {
      grid-area: avatar;
    }

    .comment-meta-meta {
      grid-area: meta;
      display: flex;
      margin: 1em 0 2em 1em;

      .timestamp {
        font-style: italic;
        margin: 0;
        position: relative;
        padding: 0.75em 0 0 1.8em;
      }

      .timestamp::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 60px;
        background-color: color(primary);
        left: 13px;
        top: 18px;
      }
    }
    .comment-body {
      grid-area: body;
      text-align: left;
      padding: 1em;
      blockquote {
        margin: 0;
      }
    }

    strong {
      padding-top: 0.2em;
    }
  }
}

.comment-form {
  text-align: left;
  padding: 1em;

  label {
    color: color(primary);
    font-weight: weight(medium);
    padding-bottom: 1.5em;
  }
}

.footer-bg {
  background: url(../images/footerBG.jpg);
  background-size: cover;
  background-position: 35% 60%;
  // z-index: 99999;
  width: 100%;
  // position: absolute;
  opacity: 90%;
  clip-path: polygon(0 0, 100% 0, 100% 81%, 0% 100%);
}

.footer-wrapper {
  display: grid;
  align-items: center;
  // margin: 0 auto;
  z-index: 2;
}

.footer-upper-wrapper {
  text-align: center;
}

.footer-headers {
  margin: 0 0 2em 0;
  text-align: center;
}

.footer-form-wrapper {
  margin: 2em 0 2em 0;

  label {
    font-family: map-get($main_fonts, body);
    font-weight: map-get($main_weights, headers);
    color: map-get($main_colors, headers);
    font-size: 1em;
  }

  input,
  textarea {
    border-radius: 10px;
    border-width: 1px;
    border-color: map-get($main_colors, secondary);
    margin: 0.5em 0 1em 0;
    padding: 0.5em;
    font-family: map-get($main_fonts, primary);
  }

  textarea {
    font-family: map-get($main_fonts, primary);
    resize: none;
  }

  .submit {
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
  }
}

.footer-lower-wrapper {
  margin-top: -4em;
  display: flex;
  justify-content: center;
}

.footer-list {
  margin-left: 2em;

  li {
    text-align: center;
    margin: 1em 1em 1em;
    font-weight: map-get($main_weights, semibold);
    font-size: map-get($main_font-size, body);
  }
}

/* Media Queries */

@media (max-width: 410px) {
  .comment-meta {
    .comment-avatar {
      width: 80px;
      height: 80px;
    }
  }

  .comment-body {
    margin-top: 1.5em;
  }

  .comment-meta-meta {
    .timestamp {
      margin-left: 1em;
      padding-left: 5em;
      margin-right: 0em;
    }

    strong {
      width: 70px;
    }
  }
}

@media (min-width: 630px) {
  .footer-lower-wrapper {
    margin-top: 0;
  }

  .footer-logo {
    padding-right: 1%;
  }

  .footer-list {
    display: inline-flex;
    margin-left: 2.5em;
    margin-top: 1em;

    li {
      border-right: 1px solid map-get($main_colors, white_accent);
      margin: 0 0.4em 0 0.5em;
      padding-right: 3%;
      max-height: 25px;

      &:last-child {
        border: 0;
      }
    }
  }
}

@media (min-width: 880px) {
  .footer-upper-wrapper {
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
  }

  .footer-headers {
    margin-top: 1em;

    h2 {
      margin-top: 0;
      padding: 1em 0 0;
    }
  }

  .footer-form-wrapper {
    margin-top: 1.5em;
  }

  .footer-bg {
    clip-path: polygon(
      100% 0%,
      100% 20%,
      100% 90%,
      83% 95%,
      73% 88%,
      57% 96%,
      44% 90%,
      40% 96%,
      29% 93%,
      26% 97%,
      10% 93%,
      6% 98%,
      0 95%,
      0 0
    );
  }

  .footer {
    .wrapper {
      padding-top: 0em;
    }
  }

  .footer-lower-wrapper {
    justify-content: left;
    padding-left: 10%;
  }

  .footer-logo {
    padding-right: 3%;
  }
}
