@import "./functions.scss";

/* Globals */

/* Header */

.hero-wrapper {
  background: url(../images/background_testit/jerry-zhang-Y8lCoTRgHPE-unsplash.jpg);
  background-size: cover;
  background-position: 50% 45%;
  border-radius: 0 0 10px 10px;
  opacity: 85%;
  height: 45vh;
}

.hero-content {
  display: flex;

  margin-top: 3em;

  img {
    box-shadow: 0 1px 2px map-get($main_colors, secondary);
    border-radius: 80px;
    object-fit: cover;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin: 1em 1em 1em 0;
  }

  .user-text {
    max-width: 500px;
  }

  .subtitle {
    font-family: map-get($main_fonts, primary);
    font-size: map-get($main_font-size, body);
    color: map-get($main_colors, white_accent);
    font-weight: 500;
    font-style: italic;
    border: solid 1px map-get($main_colors, white_accent);
    padding: 0.8em;
  }
}

/* Content */
.content-wrapper {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
}

.info {
  display: flex;

  .card {
    margin: auto;
  }
}


.info-list {
  li {
    margin: 1em 0 0 1em;
    display: flex;
    color: color(primary);
    text-align: left;

    img {
      flex-shrink: 0;
    }

    p.info-list-item {
      margin-left: 3em;
    }
  }
}

.likes-user {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  margin-top: 0.5em;
}

li.tag-item {
  width: 100px;
  margin: 0.5em 0 0.5em 1em;
  border-radius: 10px;
  padding: 0.05em;
  text-align:center;

  p {
    color: color(white_accent);
    width: 100%;
    height: 100%;
    padding: 0.1em;
    border-radius: 10px;
    margin: 0 auto;
  }
}

.first {
  background-color: tag(first);
}

.second {
  background-color: tag(second);
}

.third {
  background-color: tag(third);
}


.comments-wrapper {
  text-align: center;
  max-width: 800px;

  li {
    text-align: left;
    border: 1.5px solid color(primary);
    border-radius: 5px;
    margin: 1em 0;
    padding: 0 1em;

    img {
      box-shadow: 0 1px 2px map-get($main_colors, secondary);
      border-radius: 60px;
      object-fit: cover;
      width: 100px;
      height: 100px;

      flex-shrink: 0;
      margin: 1em 0 1em;
    }
  }
  .card {
    width: 100%;
    height: 100%;
  }

  .comments-list-wrapper {
    padding: 1.5em;
  }

  .comment {
    text-align: left;
    display: grid;
    max-width: 100%;
    grid-template-columns: minmax(auto-fit, 150px) 65%;
    grid-template-rows: 60px auto;
    grid-template-areas:
      "avatar meta"
      "avatar body";

    .comment-meta {
      grid-area: avatar;
    }

    .comment-meta-meta {
      grid-area: meta;
      display: flex;
      margin: 1em 0 2em 1em;

      .timestamp {
        font-style: italic;
        margin: 0;
        position: relative;
        padding: 0.75em 0 0 1.8em;
      }

      .timestamp::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 60px;
        background-color: color(primary);
        left: 13px;
        top: 18px;
      }
    }
    .comment-body {
      grid-area: body;
      text-align: left;
      padding: 1em;
      blockquote {
        margin: 0;
      }
    }

    strong {
      padding-top: 0.2em;
    }
  }
}

/* Media Queries */

@media (max-height: 550px) {
  .hero-wrapper {
    height: 65vh;
  }

  .hero-content {
    margin-top: 0em;
  }
}

@media (max-width: 410px) {
  .comment-meta {
    .comment-avatar {
      width: 80px;
      height: 80px;
    }
  }

  .comment-body {
    margin-top: 1.5em;
  }

  .comment-meta-meta {
    .timestamp {
      margin-left: 1em;
      padding-left: 5em;
      margin-right: 0em;
    }

    strong {
      width: 70px;
    }
  }
}

@media (max-width: 490px) {
  .hero-content {
    .subtitle {
      font-size: 0.8em;
    }
  }
}

@media (max-width: 550px) {
  .hero-content {
    img {
      width: 125px;
      height: 125px;
    }
  }
}
