@import "./functions.scss";

/* Globals */

.form {
  margin: 2em 0 2em 0;

  label {
    font-family: map-get($main_fonts, body);
    font-weight: map-get($main_weights, headers);
    color: map-get($main_colors, headers);
    font-size: 1em;
  }

  input {
    border-radius: 10px;
    border-width: 1px;
    border-color: map-get($main_colors, secondary);
    margin: 0.5em 0 1em 0;
    padding: 0.5em;
    font-family: map-get($main_fonts, primary);
  }

  .submit {
    border-radius: 30px;
    padding: 5px 10px 5px 10px;
  }
}

/* Header */

.hero-wrapper {
  background: url(../images/background_testit/jerry-zhang-Y8lCoTRgHPE-unsplash.jpg);
  background-size: cover;
  background-position: 50% 45%;
  border-radius: 0 0 10px 10px;
  opacity: 85%;
  height: 45vh;
}

.hero-content {
  display: flex;

  margin-top: 3em;

  img {
    box-shadow: 0 1px 2px map-get($main_colors, secondary);
    border-radius: 80px;
    object-fit: cover;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin: 1em 1em 1em 0;
  }

  .user-text {
    max-width: 500px;
  }

  .subtitle {
    font-family: map-get($main_fonts, primary);
    font-size: map-get($main_font-size, body);
    color: map-get($main_colors, white_accent);
    font-weight: 500;
    font-style: italic;
    border: solid 1px map-get($main_colors, white_accent);
    padding: 0.8em;
  }
}

/* Content */

.wrap {
  display: flex;
  border: 1px solid color(primary);
  border-radius: 30px;
}

.align {
  margin: 0 auto;
}

.settings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.user-settings {
  background-color: color(white_accent);
  max-width: 450px;
  max-height: 300px;
  border-radius: 10px;
  text-align: center;
  color: color(primary);

  margin: 0 auto;
  margin: 1em 2em;

  h2 {
    margin: 1em 0;
  }

  ul li {
    margin: 0.5em;
  }

  li {
    cursor: pointer;
  }

  li:hover {
    font-weight: weight(semibold);
  }
}

.account-settings {
  background-color: color(white_accent);
  text-align: center;
  border-radius: 10px;
  // visibility: hidden;
  margin: 0 auto;
  margin: 1em 4em 1em 2em;

  .likes {
    label {
      padding-top: 0.7em;
    }

    input {
      margin: 0.8em 0 0 0.5em;
      padding: 0 0 0.3em 0;
      max-width: 20px;
      height: 20px;
      border-radius: 60px;

      color: color(white_accent);
      background-color: color(primary);
    }

    button {
      width: 20px;
      height: 20px;
      border-radius: 60px;
      font-size: 0.5em;
      text-align: center;
    }
  }

  .like-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    margin-top: 1em;
    grid-column-gap: 15px;
  }

  .form {
    max-width: 350px;
    margin: auto;
    text-align: left;
    padding: 1em 1em 0;
    input {
      width: 250px;
    }

    .submit {
      margin: 1.5em 0;
      width: 140px;
    }
  }

  li.tag-item {
    width: 100px;
    margin: 0.5em 0 0.5em 1em;
    border-radius: 10px;
    padding: 0.05em;

    p {
      color: color(white_accent);
      width: 100%;
      height: 100%;
      padding: 0.1em;
      border-radius: 10px;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.likes {
  display: flex;
}

.first {
  background-color: tag(first);
}

.second {
  background-color: tag(second);
}

.third {
  background-color: tag(third);
}

.fourth {
  background-color: tag(fourth);
}

.fifth {
  background-color: tag(fifth);
}

.sixth {
  background-color: tag(sixth);
}

.seventh {
  background-color: tag(seventh);
}

.change-password {
  background-color: color(white_accent);
  border-radius: 10px;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  margin: 1em 4em 1em 2em;

  .form {
    max-width: 60%;
    text-align: left;
    padding-top: 1em;
    input {
      width: 250px;
    }

    .submit {
      margin: 1.5em 0;
      width: 140px;
    }
  }
}

/* Media Queries */

@media (max-width: 490px) {
  .hero-content {
    .subtitle {
      font-size: 0.8em;
    }
  }
}
@media (max-height: 550px) {
  .hero-wrapper {
    height: 65vh;
  }

  .hero-content {
    margin-top: 0em;
  }
}

@media (max-width: 550px) {
  .hero-content {
    img {
      width: 125px;
      height: 125px;
    }
  }
}

@media (max-width: 600px) {
  .change-password {
    .form {
      input {
        width: 150px;
      }
    }
  }
}

@media (max-width: 870px) {
  .change-password {
    .form {
      input {
        width: 200px;
      }
    }
  }
}
